.navbar li .glyphicon {
    margin-right: 1em;
}

@media (min-width: 768px) {
    /* On large screens, convert the nav menu to a vertical sidebar */
    .navbar {
        height: 100%;
        width: calc(25%);
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }

    .navbar-header {
        float: none;
    }

    .navbar {
        .navbar-collapse {
            border-top: 1px solid $hover-color;
            padding: 0;
        }

        .container-fluid {
            padding: 0;
            margin: 0;

            .navbar-brand {
                margin: 0;
            }
        }

        ul {
            float: none;
        }

        li {
            float: none;
            font-size: 1em;
            margin: 0.5em;

            a {
                padding: 0.625em 1em;
                border-radius: 4px;
            }
        }

        a {
            /* If a menu item's text is too long, truncate it */
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}